body.dark {
  background-color: black;
  font-family: "Times New Roman";
  font-style: normal;
  font-weight: normal;
  padding-bottom: 100px;
}

.dark {
  /* font-family: Times New Roman; */
  color: white;
  font-size: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

body {
  font-size: 30px;
  font-style: normal;
  font-weight: normal;
  padding-bottom: 100px;
}

.images {
  display: flex;
  position: absolute;
  height: 50%;
  left: -25%;
  right: -25%;
  top: 0px;
}

#photo1{
  opacity: 0.25;
}

#photo3{
  opacity: 0;
}

section.fakeimages {
  display: flex;
  opacity: 0;
}

section.text {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 100px;
  font-family: Times New Roman;
  font-style: normal;
  font-size: 30px;
  flex-direction: column;
  width: 50%;
}

/* info button for page 18 */
#infobutton_p18 {
  width: 20px;
  position: absolute;
  top: 6%;
  left: 30.5%;
  background-color: white;
  border-radius: 30px;
}

/* info button for page 26 */
#infobutton_p26 {
  width: 20px;
  position: absolute;
  top: 18.5%;
  right: 40%;
  background-color: white;
  border-radius: 30px;
}

.overlay {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: #c4c4c4;
  opacity: 85%;
}

.popup {
  position: absolute;
  background: #c4c4c4;
  width: 50%;
  height: 30%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  margin: auto;
  box-shadow: 5px 12px 4px rgba(0, 0, 0, 0.25);
}

.popup_2 {
  position: absolute;
  background: #c4c4c4;
  width: 50%;
  height: 20%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  margin: auto;
  box-shadow: 5px 12px 4px rgba(0, 0, 0, 0.25);
}

.popup_3 {
  position: absolute;
  background: #c4c4c4;
  width: 50%;
  height: 29%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  margin: auto;
  box-shadow: 5px 12px 4px rgba(0, 0, 0, 0.25);
}

.gradient {
  flex-direction: column;
  width: 100%;
  height: 25px;
  top: 0;
  background: linear-gradient(270deg, #257fd2 0%, #003c74 100%);
}

.thumbnail {
  padding-top: 30px;
  max-width: 90%;
  max-height: 100%;
  margin-right: 50px;
  display: block;
  margin:0 auto;
}

.thumbnail_p27 {
  max-width: 90%;
  max-height: 100%;
  margin-right: 50px;
  display: block;
  margin:0 auto;
  opacity: 0.75;
}

.popuptext {
  font-size: 20px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  text-align: center;
  width: 25%;
  background-color: rgba(196, 196, 196, 0.74);
  box-shadow: 2px 5px 4px rgba(0, 0, 0, 0.25);
}

.popuptext_p27 {
  font-size: 20px;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  text-align: center;
  width: 45%;
  background-color: rgba(196, 196, 196, 0.74);
  box-shadow: 2px 5px 4px rgba(0, 0, 0, 0.25);
}

.forwardnav {
  flex-direction: row;
  position: absolute;
  bottom: 0;
  right:0;
  margin-right: 50px;
  margin-bottom: 100px;
  color: #0035ef;
  text-decoration-line: underline;
  font-size: 20px;
}

strong {
  font-weight: bold;
  font-size: 50px;
}

em {
  font-style: italic;
}
