body {
  background-color: black;
}

p {
  font-family: Times New Roman;
  color: white;
  font-size: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}
