body.dark {
  background-color: black;
  font-family: "Times New Roman";
  font-style: normal;
  font-weight: normal;
  padding-bottom: 100px;
}

.dark {
  /* font-family: Times New Roman; */
  color: white;
  font-size: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

body.vintage {
  font-family: Arial;
  font-size: 50px;
  font-style: normal;
  font-weight: normal;
  padding-bottom: 100px;
}

.images {
  display: flex;
  position: absolute;
  height: 50%;
  left: -25%;
  right: -25%;
  top: 0px;
}

#photo1{
  opacity: 0.25;
}

#photo3{
  opacity: 0.25;
}

section.fakeimages {
  display: flex;
  opacity: 0;
}

section.text {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 100px;
  font-family: Gotham;
  font-style: normal;
  font-size: 36px;
  flex-direction: column;
  width: 50%;
}

/* info button for page 18 */
#infobutton_p18 {
  width: 20px;
  position: absolute;
  top: 13%;
  left: 50%;
  background-color: white;
  border-radius: 30px;
}

.overlay {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: #304fff;
  opacity: 85%;
}

.popup {
  position: absolute;
  background: white;
  width: 50%;
  height: 19%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 30px;
  margin: auto;
  border-radius: 50px;
}

.thumbnailbox {
  width: 225px;
  height: 170px;
  /* background-color: blue; */
  float: left;
}

.thumbnail {
  max-width: 100%;
  max-height: 100%;
  float: left;
  margin-right: 50px;
  display: block;
  /* margin:0 auto; */
}

.popuptext {
  font-size: 20px;
  margin-left: 225px;
  margin-right: 50px;
  position: absolute;
  top: 0;
  text-align: left;
}

.forwardnav {
  flex-direction: row;
  position: absolute;
  bottom: 0;
  right:0;
  margin-right: 50px;
  margin-bottom: 100px;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}
