body {
  font-family: Gotham;
  font-style: normal;
  font-weight: normal;
  padding-bottom: 100px;
}

.images {
  display: flex;
  position: absolute;
  height: 50%;
  left: -25%;
  right: -25%;
  top: 0px;
}

#photo1{
  opacity: 0.25;
}

#photo3{
  opacity: 0.25;
}

section.fakeimages {
  display: flex;
  opacity: 0;
}

section.text {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 100px;
  font-family: Gotham;
  font-style: normal;
  font-size: 36px;
  flex-direction: column;
  width: 50%;
}

#infobuttonhint {
  width: 30px;
  flex-direction: row;
  position: absolute;
  bottom: 0;
  margin-left: 50px;
  margin-bottom: 100px;
  opacity: 50%;
}

#infobuttonlabel {
  flex-direction: row;
  position: absolute;
  bottom: 0;
  margin-left: 100px;
  margin-bottom: 104px;
  opacity: 50%;
}

#infobutton {
  width: 30px;
  position: absolute;
  top: 13%;
  left: 50%;
  background-color: white;
  border-radius: 30px;
}

.overlay {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: #304fff;
  opacity: 85%;
}

.popup {
  position: absolute;
  background: white;
  width: 50%;
  height: 19%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 30px;
  margin: auto;
  border-radius: 50px;
}

.thumbnail {
  width: 30%;
  display: flex;
  float: left;
  clear:left;
  margin-right: 50px;
  /* margin:0 auto; */
}

.close {
  width: 30px;
  position: absolute;
  right: 30px;
  top: 30px;
}

.popuptext {
  width: 90%;
  height: 100%;
  padding: 40px 0;
  font-size: 20px;
}
