body {
  font-family: Gotham;
  font-style: normal;
  font-weight: normal;
  padding-bottom: 100px;
}

.images {
  display: flex;
  position: absolute;
  height: 50%;
  left: -25%;
  right: -25%;
  top: 0px;
}

#photo2{
  opacity: 0.25;
}


section.fakeimages {
  display: flex;
  opacity: 0;
}

section.text {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 100px;
  font-family: Gotham;
  font-style: normal;
  font-size: 36px;
  flex-direction: row;
  width: 50%;
  position: relative;
}
