body {
  font-family: Gotham;
  font-style: normal;
  font-weight: normal;
  padding-bottom: 100px;
}

section.images {
  display: flex;
}

#photo2{
  opacity: 0.25;
}

section.text {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 100px;
  font-family: Gotham;
  font-style: normal;
  font-size: 36px;
  display: flex;
  flex-direction: row;
  width: 50%;
}

section.turnstile {
  flex-direction: row;
  width: 50%;
  background-color: blue;
}

#drag1 {
  padding-left: 50px;
}

button {
  padding: 10px;
  text-align: center;
  margin: 0 auto;
  width: 150px;
  position: absolute;
  border-radius: 30px;
  background-color: white;
  font-family: Gotham;
  font-style: normal;
  font-weight: normal;
  color: #304FFF;
  margin-top: -50px;
  margin-left: 50px;
}

.button:hover {
  background-color: #304FFF;
  color: white;
