body {
  font-family: Gotham;
  font-style: normal;
  font-weight: normal;
  padding-bottom: 100px;
  line-height: 1.5em;
}

.images {
  display: flex;
  position: absolute;
  height: 50%;
  left: -25%;
  right: -25%;
  top: 0px;
}

#photo1{
  opacity: 0.25;
}

#photo3{
  opacity: 0.25;
}

section.fakeimages {
  display: flex;
  opacity: 0;
}

section.text {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 100px;
  font-family: Gotham;
  font-style: normal;
  font-size: 36px;
  flex-direction: column;
  width: 50%;
}

#infobuttonhint {
  width: 30px;
  flex-direction: row;
  position: absolute;
  bottom: 0;
  margin-left: 50px;
  margin-bottom: 100px;
  opacity: 50%;
}

#infobuttonlabel {
  flex-direction: row;
  position: absolute;
  bottom: 0;
  margin-left: 100px;
  margin-bottom: 104px;
  opacity: 50%;
}

/* info button for page 5 */
#infobutton {
  width: 30px;
  position: absolute;
  top: 13%;
  left: 50%;
  background-color: white;
  border-radius: 30px;
}

/* info button for page 8 */
#infobutton_p8 {
  width: 30px;
  position: absolute;
  top: 2%;
  left: 43%;
  background-color: white;
  border-radius: 30px;
}

/* info button for page 11 */
#infobutton_p11 {
  width: 30px;
  position: absolute;
  top: 17%;
  right: 27%;
  background-color: white;
  border-radius: 30px;
}

/* info button for page 14-1 */
#infobutton_p14-1 {
  width: 30px;
  position: absolute;
  top: 17%;
  left: 27%;
  background-color: white;
  border-radius: 30px;
}

/* info button for page 14-2 */
#infobutton_p14-2 {
  width: 30px;
  position: absolute;
  top: 17%;
  right: 27%;
  background-color: white;
  border-radius: 30px;
}

.overlay {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: #304fff;
  opacity: 85%;
}

.popup {
  position: absolute;
  background: white;
  width: 50%;
  height: 19%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 30px;
  margin: auto;
  border-radius: 50px;
}

.popup_p9 {
  position: absolute;
  background: white;
  width: 50%;
  height: 31%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 30px;
  margin: auto;
  border-radius: 50px;
}

.thumbnailbox {
  width: 225px;
  height: 170px;
  /* background-color: blue; */
  float: left;
}

.thumbnail {
  max-width: 100%;
  max-height: 100%;
  float: left;
  margin-right: 50px;
  display: block;
  /* margin:0 auto; */
}

.close {
  width: 30px;
  position: absolute;
  right: 30px;
  top: 30px;
}

.popuptext {
  font-size: 20px;
  margin-left: 225px;
  margin-right: 50px;
  position: absolute;
  top: 0;
  text-align: left;
}

.popuptext_p9 {
  font-size: 20px;
  margin-left: 225px;
  margin-right: 50px;
  position: absolute;
  text-align: left;
}

.forwardnav {
  flex-direction: row;
  position: absolute;
  bottom: 0;
  right:0;
  margin-right: 50px;
  margin-bottom: 100px;
}

.arrowbutton {
  width: 30px;
  float: right;
}

hr {
  height: 1px;
  border-width: thin;
  background-color: #304fff;
}

.littleblurb {
  font-size: 12px;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}
